.headerContainer {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.HomeIcon {
    max-height: 5vh;
    margin-right: 10px;
}

.headerContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
}
