.headerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;
    outline: solid red 2px;
}

.HomeIcon {
    max-height: 5vh;
}

.headerDiv {
    width: 100%;
    display: flex;
}

.headerContent {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}
