.loginPage {
    padding-top: 70px;
    text-align: center;
}

.signupFormContainer input {
    display: flex;
    justify-items: center;
    max-width: 300px;
    margin: 0 auto;
}

.signupFormContainer {
    max-width: 300px;
    margin: 0 auto;
}

.loginError {
    color: red;
}

.googleLoginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
}
.facebookLoginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
}
