.messageContent {
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.15);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 10px;
}

.journeyContent {
    margin: 10px;
}

.whoYouWithContent {
    margin: 10px;
}

.whoYouWithForm {
    display: flex;
    flex-direction: column;
}

.whoYouWithTitle {
    padding-top: 10px;
}
