.nav {
    position: fixed;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 100;
}
@media screen and (min-width: 600px) {
    .nav {
        width: 60%;

        margin-left: auto;
        margin-right: auto;
    }
}

.navButton {
    text-decoration: none;
    text-align: center;
}

.MuiTabs-flexContainer {
    display: flex;
    justify-content: space-evenly;
}
