.nav {
    position: fixed;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 100;
}

.navButton {
    text-decoration: none;
    text-align: center;
}

.MuiTabs-flexContainer {
    display: flex;
    justify-content: space-evenly;
}
