.userProfileContent {
    padding-top: 140px;
    text-align: center;
}
.profileDetails {
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.15);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
}
.newUserForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newUserForm label {
    margin: 0.5rem;
}
